[Unit]
Description=Wilo File Generation with auto pull functionality
After=network.target

[Service]
# Working directory where the code is located
WorkingDirectory=/home/nvs/Desktop/File-Generation-RPI

# Use SSH to pull the latest code from the private repo
ExecStartPre=/usr/bin/git -C /home/nvs/Desktop/File-Generation-RPI pull git@github.com:Wilo-Cloud-Monitoring/File-Generation-RPI.git

# Start the Python script after pulling the latest changes
ExecStart=/usr/bin/python3 /home/nvs/Desktop/File-Generation-RPI/main.py

# Restart the service if it fails
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target